<app-header title="Lnder"></app-header>
<div class="bg-light" id="features">
    <div class="features-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Features</h1>
        <p class="fs-5 text-muted">
            Lnder makes it easy to run day-to-day tasks
        </p>
      </div>
    <div class="row mb-3 px-5">
        <div class="col-md-8">
            <img src="../../../assets/images/bg2.png" class="img-fluid rounded-start" alt="Bootstrap Themes" width="700" height="500"
            loading="lazy">
        </div>
        <div class="col-md-4">
            <app-feature imageLink="../../../assets/images/globe-service.png" title="Online Loan Application System" subTitle="Online Presence" description="Give your clients the convenience of being able to apply, pay and manage loans online and remove the geographical restrictions on your business" linkText="Read More"></app-feature>
            <app-feature imageLink="../../../assets/images/presentation.png" title="Business Data Insights" subTitle="Real-Time Information" description="Get critical information about your business in real-time and make sound marketing and sales decsions"></app-feature>
            <app-feature imageLink="../../../assets/images/sale.png" title="NamFISA Complaint Reports" subTitle="Stay Compliant" description="You can easily generate the monthly and summarised reports required by NamFISA without having to do the tidoues data-entry work (into spreadsheets) for calculations."></app-feature>
        </div>
    </div>
</div>