#pricing{
    margin-top: 0px;;
    background-image: url('../../../assets/images/money.jpg');
    background-position: top;
    background-repeat: no-repeat; 
    background-size: stretch; 
    position: absolute;
}