<app-header title="Lnder"></app-header>
<div class="py-3" id="pricing" width="400px">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center text-white">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-white">Profession business tool that does not break your bank. Choose the plan that suits your needs.You can get started for Free. Upgrade or cancel your subscription anytime.</p>
    </div>
    <div class="row mb-3 mx-auto" style="max-width: 60rem;">
        <div class="col-md-4 col-sm-12">
            <div class="card mb-4 rounded-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-center">N$150.00<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4 ml-5">
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> 1 user</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Loan Application System Module</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> 1 Branch</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-dark">Try demo</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-center">N$250.00<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> 10 users</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Loan Application System Module</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Report Generating System Module</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Business Data Insights</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> 5 Branches</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Email Support</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Help center access</li>
                    </ul>
                    <button routeLink="/checkout"type="button" class="w-100 btn btn-lg btn-dark">Buy</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
                <div class="card-header py-3 text-white bg-dark border-dark text-center">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-center">N$800.00</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> 10 users</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Loan Application System Module</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Report Generating System Module</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Business Data Insights</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Unlimited Branches</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> In-person, Phone and Email Support</li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i> Help center access</li>
                    </ul>
                    <button routeLink="/checkout"pe="button" class="w-100 btn btn-lg btn-dark">Buy</button>
                </div>
            </div>
        </div>    
    </div>
</div>
